@import url('https://fonts.googleapis.com/css?family=Avenir');

h1 {
    text-align: left;
    padding: 15px;
    background: #1a2639;
    color: #ffffff; 

}

h6 {
    text-align: left;
    padding: 5 5 5 5;
    margin-bottom: -1.8%;
}

h5 {
    text-align: left;
    margin-bottom: -1.8%;
}

.searchBtn {
    margin-top: 3%;
    
}

p {
    margin-top: 1%;
    margin-bottom: -0.8%;
}

.browser-default {
    margin-top: 1%;
}

.modal-title {
    margin-bottom: 0.1%;
    text-align: center;
}

.modal-footer {
    margin-bottom: 5%;
}

.search-card {
    width: 90%;
  
    /* // tablet */
    @media screen and (min-width: 768px) {
    width: 650px;
    }
}

.mdl-textfield {
    margin: auto;
    padding: 10px;
    width: 100%;
}

.search-container {
    width: 49%;
    display: block;
    margin: 0 auto;
  }
  
  input#search-bar {
    margin: 0 auto;
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #d0cfce;
    outline: none;
  }
  input#search-bar:focus {
    border: 1px solid #192639;
    transition: 0.35s ease;
    color: #032e6e;
  }
  input#search-bar:focus::-webkit-input-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
  }
  input#search-bar:focus::-moz-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
  }
  input#search-bar:focus:-ms-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
  }
  
  .search-icon {
    position: relative;
    float: right;
    width: 75px;
    height: 75px;
    top: -62px;
    right: -45px;
  }
  
  