@import url('https://fonts.googleapis.com/css?family=Avenir');

h1 {
    text-align: left;
    padding: 15px;
    background: #1a2639;
    color: #ffffff; 

}

h6 {
    text-align: left;
    padding: 5 5 5 5;
    margin-bottom: -1.8%;
}

h5 {
    text-align: left;
    margin-bottom: -1.8%;
}

.searchBtn {
    margin-top: 3%;
    
}

p {
    margin-top: 1%;
    margin-bottom: -0.8%;
}

.browser-default {
    margin-top: 1%;
}

.modal-title {
    margin-bottom: 0.1%;
    text-align: center;
}

.modal-footer {
    margin-bottom: 5%;
}

.search-card {
    width: 90%;
  
    /* // tablet */
    @media screen and (min-width: 768px) {
    width: 650px;
    }
}

.mdl-textfield {
    margin: auto;
    /* padding: 10px; */
    width: 100%;
}