@import url('https://fonts.googleapis.com/css?family=Avenir');

h1 {
    text-align: left;
    padding: 15px;
    background: #1a2639;
    color: #ffffff; 

}

h6 {
    text-align: left;
    padding: 5 5 5 5;
    margin-bottom: -1.8%;
}

h5 {
    text-align: left;
    margin-bottom: -1.8%;
}

.searchBtn {
    margin-top: 3%;
    
}

p {
    margin-top: 1%;
    margin-bottom: -0.8%;
}

.browser-default {
    margin-top: 1%;
}