@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Avenir', sans-serif;
    font-size: 20px;
}

h6 {
    align-content: 'left';
    margin-bottom: 20px;
}

.column {
    float: left;
    width: 30%;
    padding: 0 10px;
}

.color-block-head {
    opacity: 0.9;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 1;
    margin-bottom: 20px;
    color: #190EAB;
    width: 100%;
}

.card {
    padding: 3%;  
    margin: 0 0 20px 0;
    border-style: double;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: white;
   
}
.collapsible-body {
    border-style: dotted;
    padding: 0 3% 0 3%;
}

.dont-break-out {
    overflow-wrap: break-word;
    word-wrap: break-word;
}


.addRemove {
    display: inline-block;
    padding: 6px 12px;
    margin-top: 2.7%;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.addRemove:hover{
    color:#02b875;
    background: #FFF;
} 

h6 {
    text-align: left;
}

.links {
    color: #016722;
}